body {
  display: block;
  font-family: "IntelClear", sans-serif;
  background: #A5ACAF;
}
nav {
  list-style-type: none;
  display: inline;
  background: #002C5F;
  width: 100%;
}
nav ul {
  background: #002C5F;
  padding-left: 10px;
  padding-top: 10px;
  height: 30px;
}
nav ul li {
  display: inline;
  padding: 5px;
}
a:link {
  text-decoration: none;
  color: #69BE28;
}
a:hover {
  color: white;
}
a:visited {
  color: #818A8F;
}
header {
  display: inline;
  background: #818A8F;
  padding-top: 20px;
}
header strong {
  font-weight: bold;
  font-size: 26px;
}
div {
  display: flex;
}
header img {
  height: 100%;
  width: 50%;
}
section {
  display: flex;
  margin-left: 150px;
}
section figure {
  justify-content: space-around;
  flex-direction: row;
  margin-right: 100px;
  padding-top: 20px;
}
section figure figcaption {
  width: 250px;
}
header p {
  padding-top: 20px;
}
.recommendations-mid {
  margin: 0px;
}
.dashboard-mid, .questionnaire-mid {
  margin-left: 0px;
  padding-top: 100px;
  padding-bottom: 50px;
  width: 100%;
}

#chartContainer {
  margin-left: 0px;
  display: block;
}
footer {
  display: flex;
  flex-direction: column;
  background: #002C5F;
  height: 50px;
  /*position: absolute;*/
  bottom: 0px;
  left: 0px;
  text-align: center;
  margin: 20px auto auto auto;
  color: white;
  width: 100%;
}
footer h3 {
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding-bottom: 10px;
}

.AboutImageContainer {
  position: relative;
  top: 100px;
  padding: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  min-height: 100%;
}

/* Fliping cards */
.front img, .back img{
  height: 302px;
  width: 400px;;
}


.flip-container {
  padding-left: 20px;
  perspective: 1000;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateZ(180deg);
}

.flip-container, .front, .back {
	width: 400px;
	height: 302px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
