body {
  display: block;
  font-family: "IntelClear", sans-serif;
  background: #A5ACAF;
}

nav {
  list-style-type: none;
  display: inline;
  background: #002C5F;
  width: 100%;
}
 nav ul {
   background: #002C5F;
   padding-left: 10px;
   padding-top: 10px;
   height: 30px;
 }
 nav ul li {
   display: inline;
   padding: 5px;
  }

  a:link {
    text-decoration: none;
    color: #69BE28;
  }
  a:hover {
    color:white;
  }
  a:visited {
    color: #818A8F;
  }

header {
  display: inline-block;
  background: #818A8F;
}
header section {
  display: inline-block;
}

header img{
  height: 100%;
  width: 50%;
}
/*footer {
  display: flex;
  flex-direction: column;
  background: #002C5F ;
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  margin: auto;
  color: white;
  width: 100%;
}
footer h3 {
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding-bottom: 10px;
}*/
