body {
  font-family: "IntelClear", sans-serif}

.pull-left{
  padding-left: 10px;
  display: flex;
  list-style-type: none;
  position: fixed;
}
.nav{
 margin: 10px;
}
.footer{
  text-align: center;
}
.toggle-graphs{
  width: 9.5%;
  border: 1px solid black;
  list-style-type: none;
  padding-left: 14px;
  display: flex;
  flex-direction: column;
  background-color: #A5ACAF;
  height: 550px;
}
.graphoptions{
  margin: 20px;
  font-size: 10px;
  display: flex;
  align-items: center;
  margin-left: 2px;
  padding-top: 30px;
}
.listOf
